//layout
$layoutBackground:#000000;
$layoutFontColor: #FFFFFF;

//index 
$botaoAgendarAgoraBackground:#1cd5a7;
$botaoAgendarAgoraFontColor: #FFFFFF;

//menu
$menuBackground: #1ca7d5;
$menuFontColor: #FFFFFF;

//pagina sobre
$paginaBrancaVerdeBackground: #FFFFFF;
$paginaBrancaVerdeTitleFontColor: #1cd5a7;
$paginaBrancaVerdeFontColor: #666666;

//pagina lesoes
$paginaLesoesBackground: url("../images/background/foto-lesoes.jpg") no-repeat;
$paginaLesoesTitleFontColor: #1ca7d5;
$paginaLesoesFontColor: #FFFFFF;

//contato
$paginaContatoBackground: url("../images/background/foto-contato.jpg") no-repeat;
$paginaContatoTitleFontColor: #1ca7d5;
$paginaContatoFontColor: #FFFFFF;
$paginaContatoBotao: #FFFFFF;

//post
$paginaPostBackground: #FFFFFF;
$paginaPostTitleFontColor: #1cd5a7;
$paginaPostFontColor: #333;